/* Mess Endeks by Smartmetrics */
@import "../fonts/visby/stylesheet.css"
@import "mixin"

$font-main: "Visby CF"

$bg-color: #FAFAFA
$blue: #007AC3
$orange: #FEAB45

html, body
    background-color: $bg-color
    font-family: $font-main
    height: 100%
    scroll-behavior: smooth
    img
        max-width: 100%
        max-height: 100%
        width: auto
        height: auto
    a
        text-decoration: none

.container
    @media (min-width: 1200px)
        padding-left: 30px !important
        padding-right: 30px !important
    @media (max-width: 992px)
        padding-left: 20px !important
        padding-right: 20px !important
    &.container-1200
        max-width: 1260px !important

/* Navbar */
.me-navbar
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
    
    .logo
        margin-right: 20px
        .img-logo
            height: 61px
        &::after
            display: none !important

    .nav-links
        padding: 36px 0
        margin-bottom: 0
        @include list-unstyled
        @include list-inline
        li
            position: relative
            &::after
                content: ""
                display: block
                position: absolute
                height: 18px
                width: 1px
                background-color: #fff
                right: 0
                top: 4px
            &:last-child
                &::after
                    display: none
        .link
            font-family: "Visby CF Demi"
            color: #fff
            font-size: 14px
            font-weight: 600
            margin: 0 30px
            position: relative
            img
                transition: 0.2s
            &.search
                &::after
                    display: none
            &::after
                content: ""
                display: block
                background-color: #fff
                width: 22px
                height: 2px
                bottom: -5px
                opacity: 0
                transition: 0.2s
                @include absolute-horizontal-center
            &.active
                &::after
                    opacity: 1
            &:hover
                img
                    opacity: 0.7
                &::after
                    opacity: 1
        &.left
            padding: 18px 85px 30px 0 !important
            @include f-align-center-justify-end
            @media (max-width: 1300px)
                @include f-align-center-justify-start
                padding: 18px 10px 30px 20px !important
            @media (max-width: 1200px)
                padding: 18px 40px 30px 0 !important
        &.right
            padding-left: 75px
            background-image: url("../img/nav-right-bg-blue.png")
            background-repeat: no-repeat
            @media (min-width: 1200px)
                background-position: 30px 0
            @media (max-width: 1300px)
                padding-left: 60px
            @media (max-width: 1200px)
                padding-left: 30px
            @media (max-width: 450px)
                width: auto !important
                max-width: 190px

    .mobile
        display: none !important

    @media (max-width: 1200px)
        .nav-links
            li
                display: none !important
                &.logo
                    display: block !important
            &.right
                display: none
                &.mobile
                    width: 210px
                    margin-left: auto
                    display: flex !important
                    background-size: cover
                    height: 84px
                    padding: 20px
                    @include f-align-center-justify-end
                    li
                        display: inline-block !important
            &.left
                justify-content: flex-start
                padding: 16px 20px 20px 20px !important
                @media (max-width: 450px)
                    padding: 16px 0 20px 10px !important

    &.me-navbar-page
        @media (max-width: 1400px)
            max-width: 1170px
            @include absolute-horizontal-center
            .nav-links
                &.left
                    padding-right: 50px !important
                &.right
                    @media (min-width: 1200px)
                        padding-left: 80px !important
                    .search
                        @media (min-width: 1200px)
                            margin-left: 20px
                            margin-right: 0
        
        @media (max-width: 1300px)
            max-width: 100%

        .nav-links
            &.left
                @media (max-width: 576px)
                    padding-right: 20px !important
                li
                    &::after
                        background-color: $blue !important
                .link
                    color: $blue
                    &::after
                        background-color: $blue
            &.right
                @media (min-width: 1200px)
                    background-image: none
                    padding-left: 100px

    &.with-dark-right
        background-color: #FAFAFA
        position: relative
        @media (min-width: 1200px)
            height: 99px
        &.me-navbar-page
            max-width: 100%
        .right
            background-image: url("../img/nav-right-bg-dark.png") !important
    
    @media (max-width: 992px)
        .logo img
            filter: brightness(0) invert(1)
        &.with-dark-right
            .logo img
                filter: inherit


/* Search */
.me-search-area
    background: rgba(0, 0, 0, 0.75)
    backdrop-filter: blur(2.5px)
    border-radius: 0px 0px 70px 70px
    position: absolute
    top: 0
    width: 100%
    z-index: 4
    padding: 80px 0
    transform: translateY(-220px)
    transition: 0.2s
    .close-button
        position: absolute
        top: -36px
        right: -100px
    .form
        position: relative
        .form-control
            border: 0 !important
            border-radius: 100px
            height: 60px
            font-size: 14px
            font-family: "Visby CF Demi"
            color: #000
            padding: 5px 167px 5px 75px
            background-color: #fff
        .icon
            left: 10px
            @include absolute-vertical-center
        .btn-primary
            height: 48px
            border-radius: 70px !important
            right: 10px
            font-family: "Visby CF Demi"
            font-weight: 600
            padding: 5px 40px !important
            @include absolute-vertical-center
    @media (max-width: 992px)
        padding: 50px 0 30px 0
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        .close-button
            top: -40px
            right: 5px


/* Slider */
.me-slider-home
    position: relative

    .me-swiper-home-bar
        position: absolute
        bottom: 0
        z-index: 2
        width: 100%
        padding: 45px 0
        @include absolute-horizontal-center
        @include f-align-center-justify-end
        @media (max-width: 1200px)
            padding: 30px 20px
        .me-swiper-home-count
            display: inline-block
            width: auto
            color: #fff
            .swiper-pagination-total
                font-size: 14px
            .swiper-pagination-current
                font-size: 32px
                font-weight: 700
        .me-swiper-home-nav
            @include f-align-center-justify-end
            .button
                margin-left: 24px

.me-swiper-home-progressbar
    position: absolute
    left: 0
    bottom: 0
    top: inherit !important
    width: 100%
    z-index: 2
    height: 6px !important
    background: rgba(#fff, 0.3)
    .swiper-pagination-progressbar-fill
        background-color: $blue
        transition-duration: 500ms !important

.me-slider-home, .me-swiper-home
    height: 100%

.me-swiper-home-item
    height: 100%
    position: relative
    flex-direction: column
    padding: 0 20px 150px 20px
    @include bg-image-cover
    @include f-align-start-justify-end
    &.with-video
        video
            height: 100%
            width: 100%
            position: absolute
            left: 0
            top: 0
            object-fit: cover
            z-index: 1
        &::before
            content: ""
            display: block
            width: 100%
            height: 100%
            background-color: rgba(#000, 0.59)
            position: absolute
            left: 0
            top: 0
            z-index: 2
        .content
            position: relative
            z-index: 3
    .content
        color: #fff
        margin-left: auto
        margin-right: auto
        @media (min-width: 1200px)
            width: 1200px
        @media (max-width: 992px)
            padding: 0 20px
        .w-580
            max-width: 590px
        .title
            font-size: 52px
            font-weight: 800
            line-height: 68px
            margin-bottom: 25px
            @media (max-width: 992px)
                font-size: 30px
                line-height: 36px
        p
            margin-bottom: 10px
            color: #d1d1d1
            line-height: 24px
            @media (max-width: 992px)
                font-size: 14px


/* Feature Chart */
.me-feature-chart
    padding: 150px 0
    .out-div
        @include absolute-vertical-center
        @media (max-width: 1720px)
            grid-template-columns: 1fr
            width: 48px
            right: 0
            .texts
                display: none !important
        @media (max-width: 1100px)
            display: none
    @media (max-width: 992px)
        padding: 35px 0
        .img-chart
            margin-bottom: 30px
    .img-chart
        max-height: 500px
        display: block
        margin: auto
    .aspect-100
        padding-bottom: 70% !important
        
        
.me-section-content
    .img-text
        margin-bottom: 35px
    .title
        font-size: 36px
        line-height: 39px
        font-weight: 700
        color: $orange
        margin-bottom: 30px
        span
            color: #000
            font-size: 24px
            font-weight: 300
            display: block
    p
        font-size: 14px
        line-height: 28px
        color: #656565
    .btn
        margin-top: 40px
        padding: 5px 30px !important
        @media (max-width: 992px)
            margin-top: 20px

.out-div
    width: 180px
    position: absolute
    right: -180px
    top: 0
    display: grid
    grid-template-columns: 47px 1fr
    grid-gap: 20px
    .texts
        flex-direction: column
        @include f-align-center-justify-between
    .box
        .title
            font-size: 16px
            color: #202020
            font-weight: 700
        p
            color: #909090
            font-size: 13px
            line-height: 16px
            margin-bottom: 0


/* News */
.me-new-page
    @media (min-width: 992px)
        padding-top: 40px
    @media (min-width: 1400px)
        padding-right: 100px
    .new-content
        .details
            margin-bottom: 30px
            @include f-align-center-justify-start
            span
                border-right: 1px solid #D2D2D2
                margin-right: 10px
                padding-right: 10px
                font-size: 13px
                @include f-align-center-justify-start
                img
                    margin-right: 5px
                    margin-bottom: 0
                &:last-child
                    border-right: 0
                    margin-right: 0
                    padding-right: 0
        .blog-title
            font-size: 36px
            line-height: 39px
            color: #000
            font-weight: 700
            margin-bottom: 30px
        p
            font-size: 16px
            line-height: 30px
            color: #000
            margin-bottom: 20px
            font-weight: 500
        img
            margin-bottom: 20px
    .me-swiper-mini-gallery
        margin-top: 60px
        border-bottom: 1px solid #e4e4e4
        padding-bottom: 60px
        margin-bottom: 60px

.me-swiper-mini-news
    .me-news-mini
        padding-right: 30px
        position: relative
        &::after
            content: ""
            height: 86px
            width: 1.5px
            background-color: #DBDBDB
            right: 0
            top: 20px
            position: absolute
            display: block

.me-news-mini
    font-family: "Visby CF Demi"
    font-weight: 600
    .date
        font-size: 13px
        color: #007AC3
        margin-bottom: 10px
        @include f-align-center-justify-start
        img
            margin-right: 10px
    .title
        font-size: 18px
        line-height: 27px
    .link
        color: #0A4977
        font-size: 13px
        font-family: "Visby CF"
        font-weight: 500
        @include f-align-center-justify-start
        img
            margin-left: 5px


.me-swiper-mini-gallery
    .img
        @include aspectratio-100-100w
        img
            object-fit: cover
            border-radius: 12px
        &::after
            content: ""
            display: block
            width: 100%
            height: 100%
            position: absolute
            background-color: rgba(#007AC3, 0.7)
            border-radius: 12px
            opacity: 0
            transition: 0.2s
        &::before
            content: ""
            display: block
            width: 44px
            height: 44px
            background-image: url("../img/icons/zoom-big.svg")
            @include absolute-all-center
            z-index: 3
            opacity: 0
            transition: 0.2s
        &:hover
            &::after, &::before
                opacity: 1


.me-news-page
    @media (min-width: 992px)
        padding: 0 100px 0 0
    .me-pagination
        padding-left: 30px

.me-new-horizontal
    padding: 23px 30px 23px 30px
    border-bottom: 1px solid #E4E4E4
    transition: 0.2s
    &:hover
        box-shadow: 0 4px 44px rgba(#000, 0.17)
        border-radius: 13px
    .date
        margin-bottom: 20px
        color: rgba(#007AC3, 0.7)
        font-size: 13px
        @include f-align-center-justify-start
        img
            margin-right: 10px
    .title
        font-size: 36px
        line-height: 39px
        color: #000
        font-weight: 700
        margin-bottom: 25px
        @media (max-width: 992px)
            font-size: 24px
            line-height: 30px
            margin-bottom: 15px
    p
        font-size: 16px
        line-height: 27px
        color: #000
    .link
        font-size: 13px
        color: #0A4977
        transition: 0.2s
        @include f-align-center-justify-start
        img
            margin-left: 5px
        &:hover
            color: #FEAB45


/* Book Area */
.me-book-area
    @media (max-width: 992px)
        padding: 30px 15px
    .grid
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 35px
        overflow: hidden
        background-image: url("../img/grid-area-bg.jpg")
        @include bg-image-cover

        .left, .right
            position: relative
            height: 720px
            .box
                position: absolute
                .normal
                    transform: skewX(-10deg)

        .left
            .box
                background-color: rgba(#354962, 0.7)
                height: 720px
                width: calc(100% + 200px)
                transform: skewX(10deg)
                left: -200px
                top: 0
                border-top-right-radius: 15px
                outline: 28px solid #fafafa
                @include f-align-center-justify-center
                .normal
                    margin-left: 200px
            .book-mobile
                display: none
                @media (max-width: 992px)
                    display: block

        .right
            .box
                background-color: rgba(#0089C3, 0.8)
                height: 640px
                width: calc(100% + 200px)
                transform: skewX(10deg)
                left: 0
                bottom: 0
                @include f-align-center-justify-start
            &::before
                content: ""
                display: block
                background-color: $bg-color
                height: 80px
                width: calc(100% + 81px)
                transform: skewX(10deg)
                position: absolute
                right: -10px
                top: 0

        .me-section-content
            margin-left: 70px
            color: #fff
            max-width: 390px
            .title, .title span
                color: #fff
                font-size: 36px !important
            p
                color: #fff
            .btn
                border-color: rgba(#08A3FF, 0.42)
                color: #fff
                font-weight: 400 !important
                font-family: $font-main
                font-size: 13px
                border-radius: 50px !important
                margin-top: 30px
                img
                    margin-left: 10px
                &:hover
                    background-color: rgba(#08A3FF, 0.2)

        @media (max-width: 992px)
            grid-template-columns: 1fr
            border-radius: 15px !important
            .box, .normal
                transform: inherit !important

            .right
                height: auto
                .box
                    position: relative
                &::before
                    display: none

            .left
                height: auto !important
                .box
                    border-top-left-radius: 12px
                    border-top-right-radius: 12px
                    position: relative

            .me-section-content
                max-width: 100%
                margin-left: 0
                text-align: left !important
                padding: 60px 15px

            .box
                width: 100% !important
                height: auto !important
                left: 0 !important
                outline: none !important
                .normal
                    margin-left: 0 !important

            .book-container
                display: none !important

            .me-section-content
                .title, .title span
                    font-size: 24px !important
                    line-height: 36px !important
                p
                    font-size: 14px
                    line-height: 24px
                .on-mobile
                    display: grid !important
                    grid-template-columns: repeat(2, 1fr)
                    column-gap: 15px
                    .btn
                        font-size: 12px
                        padding: 5px 10px !important
                .on-desktop
                    display: none

.book-container
    display: flex
    align-items: center
    justify-content: center
    perspective: 600px

@keyframes initAnimation
    0%
        transform: rotateY(0deg)
    100%
        transform: rotateY(-30deg)

.book
    width: 300px
    height: 450px
    position: relative
    transform-style: preserve-3d
    transform: rotateY(-30deg)
    transition: 1s ease
    animation: 1s ease 0s 1 initAnimation
    &:hover
        transform: rotateY(0deg)
    > :first-child
        position: absolute
        top: 0
        left: 0
        background-color: red
        width: 300px
        height: 450px
        transform: translateZ(25px)
        background-color: #01060f
        border-radius: 0 2px 2px 0
        box-shadow: 34px 1px 38px rgba(#000, 0.12)
    &::before
        position: absolute
        content: ""
        background-color: blue
        left: 0
        top: 3px
        width: 48px
        height: 444px
        transform: translateX(272px) rotateY(90deg)
        background: linear-gradient(90deg, #fff 0%, #f9f9f9 5%, #fff 10%, #f9f9f9 15%, #fff 20%, #f9f9f9 25%, #fff 30%, #f9f9f9 35%, #fff 40%, #f9f9f9 45%, #fff 50%, #f9f9f9 55%, #fff 60%, #f9f9f9 65%, #fff 70%, #f9f9f9 75%, #fff 80%, #f9f9f9 85%, #fff 90%, #f9f9f9 95%, #fff 100%)
    &::after
        position: absolute
        top: 0
        left: 0
        content: ""
        width: 300px
        height: 450px
        transform: translateZ(-25px)
        background-color: #01060f
        border-radius: 0 2px 2px 0
        box-shadow: 34px 1px 38px rgba(#000, 0.12)


/* Page Contact */
.page-contact
    .content-area
        padding: 30px 30px 30px 0 !important
    .fullwidth
        @media (min-width: 1200px)
            width: calc(100% + 180px)
        margin: 0 !important
        padding: 30px 0 100px 0
        .col-md-6
            &:first-child
                padding-right: 20px
            &:last-child
                padding-left: 20px
    .contact-form
        background-color: #fff
        padding: 50px 50px 50px 20px
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        @include f-align-center-justify-end
        @media (max-width: 992px)
            @include f-align-center-justify-center
            padding: 30px
            border-radius: 20px
        form
            max-width: 570px
            label
                color: #6A6A6A
            .label-radio
                color: #6A6A6A
                font-size: 14px
                font-family: "Visby CF Demi"
                font-weight: 600
                margin-bottom: 10px
            .form-control
                color: #0E536C
            .form-check-label
                font-size: 12px
                font-weight: 500
            .btn-warning
                color: #fff
                height: 55px
                border-radius: 5px !important
                background-color: #FEAB45 !important
                box-shadow: 0 0 14px rgba(#000, 0.12)
                font-size: 16px
                font-weight: 700
                padding: 5px 30px !important
                &:hover
                    background-color: #E19231 !important
                    border-color: #E19231 !important

    .contact-info
        background-color: #26384E
        border-top-left-radius: 20px
        border-bottom-left-radius: 20px
        padding: 60px 20px 60px 60px
        color: #fff
        @include f-align-center-justify-start
        @media (max-width: 992px)
            padding: 40px
            border-radius: 20px
            @include f-align-center-justify-center
        .content
            width: 470px
            @media (max-width: 992px)
                width: 100%
            .title
                font-family: "Visby CF Demi"
                font-weight: 600
                font-size: 28px
            .subtitle
                color: #c9c9c9
                font-size: 14px
                margin-bottom: 30px


.accordion-info
    .accordion-item
        background-color: #415671
        border: 0 !important
        margin: 10px 0
        border-radius: 10px
        .accordion-button
            background-color: #31455E
            color: #fff
            border-radius: 10px
            border: 0 !important
            box-shadow: none !important
            font-family: "Visby CF Demi"
            font-weight: 600
            position: relative
            &:not(.collapsed)
                background-color: #415671
                &::after
                    transform: rotate(135deg)
            &::after
                content: "+"
                background-image: none !important
                margin: 0
                width: 30px !important
                height: 30px !important
                position: absolute
                font-size: 40px
                font-weight: 400
                font-family: "Visby CF"
                top: 8px
                right: 10px
                @include f-align-center-justify-center
        .info-box
            color: #fff
            margin-bottom: 10px
            @include f-align-start-justify-start
            .icon
                margin-right: 10px
                position: relative
                top: -3px
            p, a
                font-size: 15px
                font-weight: 500
                color: #fff
                text-decoration: none
                margin-bottom: 0

.me-contact-map
    border-top-right-radius: 100px
    overflow: hidden
    

/* Page Search Result */
.page-search-result
    .top-box
        margin-bottom: 70px
        @media (max-width: 992px)
            margin-bottom: 35px
        .title
            font-size: 48px
            color: #000
            font-weight: 800
            margin-bottom: 5px
            @media (max-width: 992px)
                font-size: 24px
        p
            font-size: 21px
            color: #737373
            margin-bottom: 0
            @media (max-width: 992px)
                font-size: 16px

    .me-new-horizontal
        padding: 35px 0
        border-bottom: 0
        border-top: 1px solid #e4e4e4
        &:hover
            box-shadow: none
        .title
            font-size: 26px
            font-weight: 700
            @media (max-width: 992px)
                font-size: 20px


/* Page Head */
.me-page-head
    background-color: #fafafa
    position: relative
    .grid
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 35px
        overflow: hidden

        .left, .right
            position: relative
            height: 504px
            .box
                position: absolute
                .normal
                    transform: skewX(10deg)

        .left
            .box
                background-image: url("../img/page-head-left.jpg")
                height: 464px
                width: calc(100% + 200px)
                transform: skewX(17deg)
                left: -70px
                top: 0
                background-color: #fff
                z-index: 2
                border-bottom-right-radius: 30px
                @include f-align-center-justify-center
                @include bg-image-cover
                background-position: center bottom !important
                .normal
                    margin-left: 200px
            .book-mobile
                display: none
                @media (max-width: 992px)
                    display: block

        .right
            .box
                background-image: url("../img/page-head-right.svg")
                height: 640px
                width: calc(100% + 200px)
                left: 110px
                bottom: 0
                transform: skewX(17deg)
                border-bottom-left-radius: 30px
                @include f-align-center-justify-start
                @include bg-image-cover

        .me-section-content
            margin-left: 70px
            color: #fff
            max-width: 390px
            .title, .title span
                color: #fff
                font-size: 36px !important
            p
                color: #fff
            .btn
                border-color: rgba(#08A3FF, 0.42)
                color: #fff
                font-weight: 400 !important
                font-family: $font-main
                font-size: 13px
                border-radius: 50px !important
                margin-top: 30px
                img
                    margin-left: 10px

        @media (max-width: 992px)
            grid-template-columns: 1fr
            .box, .normal
                transform: inherit !important

            .right
                height: auto
                .box
                    position: relative
                &::before
                    display: none

            .left
                background-image: url("../img/page-head-mobile.jpg")
                height: 480px
                @include bg-image-cover
                .box
                    position: relative

            .me-section-content
                max-width: 100%
                margin-left: 0
                text-align: left !important
                padding: 60px 15px

            .box
                width: 100% !important
                height: auto !important
                left: 0 !important
                outline: none !important
                .normal
                    margin-left: 0 !important

            .book-container
                display: none !important

            .me-section-content
                .title, .title span
                    font-size: 24px !important
                    line-height: 36px !important
                p
                    font-size: 14px
                    line-height: 24px
                .on-mobile
                    display: grid !important
                    grid-template-columns: repeat(2, 1fr)
                    column-gap: 15px
                    .btn
                        font-size: 12px
                        padding: 5px 10px !important
                .on-desktop
                    display: none

    .container
        max-width: 1260px !important

    .page-head-content
        position: absolute
        bottom: 80px
        z-index: 2
        max-width: 620px
        @media (max-width: 992px)
            bottom: 40px
            color: #fff !important
            padding-right: 20px
            .me-breadcrumb
                display: none
        .title
            font-size: 29px
            line-height: 40px
            color: #0A4977
            margin-bottom: 20px
            @media (max-width: 992px)
                color: #fff !important
                font-size: 18px
                line-height: 28px
                font-weight: 400
            &.mini
                font-size: 20px
                line-height: 32px
                @media (max-width: 992px)
                    font-size: 18px
                    line-height: 28px
                    font-weight: 400
        .page-title
            font-size: 42px
            line-height: 50px
            font-weight: 700
            color: #0A4977
            @media (max-width: 992px)
                color: #fff
                font-size: 32px
                line-height: 40px
        .subtitle-light
            display: block
            font-size: 27px
            font-weight: 400
            color: #000
            @media (max-width: 992px)
                color: #fff
                font-size: 20px



/* About Section */
.me-about-section
    padding: 40px 0
    @media (max-width: 992px)
        padding: 0
    .me-as-content
        p
            font-size: 15px
            line-height: 30px
            margin-bottom: 30px
            color: #333
        img
            margin-bottom: 30px

    .me-as-sidebar
        @media (max-width: 992px)
            margin-bottom: 20px
        li
            border-bottom: 1px solid #F0F0F0
            &:last-child
                border-bottom: 0
            a
                color: #989898
                font-size: 14px
                font-weight: 500
                display: block
                padding: 5px 0
                margin: 10px 0
                transition: 0.2s
                &::before
                    content: ""
                    display: none
                    background-image: url("../img/icons/mess-menu-active.svg")
                    height: 14px
                    width: 14px
                    margin-right: 10px
                    position: relative
                    top: 1px
                &.active
                    color: $blue
                    font-family: "Visby CF Demi"
                    font-weight: 600
                    &::before
                        display: inline-block
                &:hover
                    color: $blue
                    font-family: "Visby CF Demi"
                    font-weight: 600


/* Feature Sanayi */
.me-feature-sanayi
    padding-bottom: 150px
    @media (max-width: 992px)
        padding-bottom: 20px
    &.fullwidth
        margin-left: -150px
    .img
        width: 100%
        height: 618px
        object-fit: cover
        border-top-right-radius: 50px
        border-bottom-right-radius: 50px
        @media (max-width: 992px)
            height: auto !important
            border-radius: 25px !important
    .me-section-content
        margin: 30px 65px
        max-width: 350px
        .title
            .alt
                font-weight: 400
                font-size: 24px
                display: inline-block
                color: #FEAB45
        p
            color: #000
        .link
            color: #000
            font-size: 13px
            display: inline-block
            margin-top: 50px
            transition: 0.2s
            img
                position: relative
                top: -1px
                left: 4px
            &:hover
                color: $orange
        @media (max-width: 992px)
            max-width: 100%
            margin: 40px 10px
            .link
                margin-top: 30px


/* Shortcuts */
.me-shortcuts
    margin-bottom: -70px
    position: relative
    z-index: 2
    @media (max-width: 992px)
        margin-bottom: 20px
        .container
            padding: 0 !important

.me-shortcut
    @include aspectratio-56-100w
    border-radius: 25px
    transition: 0.2s
    border: 2px solid rgba(#fff, 0.0)
    @media (max-width: 992px)
        margin: 10px 0
    .img-aspect
        border-radius: 22px
        object-fit: cover
    .content
        background-color: rgba(#0A4977, 0.8)
        color: #fff
        position: absolute
        top: 0
        left: 0
        border-radius: 22px
        width: 100%
        height: 100%
        padding: 35px 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        .title
            font-size: 34px
            line-height: 50px
            font-weight: 700
            .alt
                font-size: 24px
                font-weight: 400
        .icon
            text-align: right
    &.orange
        .content
            background-color: rgba(#FEAB45, 0.8)
    &:hover
        box-shadow: 0 0 46px rgba($blue, 0.46)
        border: 2px solid $blue
        &.orange
            border-color: #FEAB45
            box-shadow: 0 0 46px rgba(#FEAB45, 0.8)


/* Footer */
.me-footer
    background-color: #31455E
    color: #fff
    position: relative
    overflow: hidden
    &::before
        content: ""
        display: block
        width: 416px
        height: 416px
        top: 50% !important
        background-image: url("../img/footer-background.svg")
        background-repeat: no-repeat
        background-position: center
        pointer-events: none
        user-select: none
        @include absolute-all-center
    .img-logo
        height: 80px
        @media (max-width: 992px)
            margin-bottom: 50px
    .top
        padding: 70px 0 70px 0
        @media (max-width: 992px)
            padding: 35px 0
            text-align: center
        .content
            @media (max-width: 992px)
                text-align: center !important
            p, a
                font-family: "Visby CF Demi"
                font-weight: 600
                color: #E0E0E0
                font-size: 14px
                @media (max-width: 992px)
                    font-family: $font-main
                    font-weight: 400
            p
                margin-bottom: 15px
    .bottom
        background-color: #082A42
        font-size: 14px
        padding: 25px 0
        position: relative
        z-index: 2
        p
            margin-bottom: 0
        .container
            @include f-align-center-justify-between
            @media (max-width: 992px)
                justify-content: center
        .bottom-links
            margin-bottom: 0
            @include list-unstyled
            @include list-inline
            @media (max-width: 992px)
                display: none
            li
                a
                    color: #fff
                    display: inline-block
                    margin-left: 30px
    &.me-footer-home
        .top
            padding: 130px 0 70px 0


/* General */
@import "endex-page"
@import "general"