@Html.Partial("Menu")

@Html.Partial("Head")

<section class="me-page-head">
    <div class="grid">
        <div class="left">
            <div class="box">
                <div class="normal"></div>
            </div>
        </div>
        <div class="right">
            <div class="box">
                <div class="normal"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-head-content">
            <h1 class="page-title"><span class="subtitle-light">Metal Sanayinin Nabzını Tutan</span> Güncel Haberler
            </h1>
            <ul class="me-breadcrumb">
                <li><a href="index.aspx">Ana Sayfa</a></li>
                <li><a href="guncel-haberler.aspx" class="active">Haberler</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="me-bg-darker me-1400-100">
    <div class="me-area-content left">
        <div class="content-area">
            <div class="fullwidth">
                <div class="container">
                    <div class="me-news-page">
                        @foreach (var item in ViewBag.Haberler)
                        {
                            <div class="me-new-horizontal">
                                <span class="date">
                                    <img src="~/site_assets/assets/img/icons/calendar-blue.svg" alt="Calendar">
                                    @item.sayfa_tarih
                                </span>
                                <h2 class="title"><a style="color:inherit" href="/Haber/@item.ID">@item.sayfa_adi</a></h2>
                                <p>
                                    @Html.Raw(item.sayfa_icerik)
                                </p>
                                <a href="/Haber/@item.ID" class="link">Haberi Görüntüle
                                    <img src="~/site_assets/assets/img/icons/arrow-right-orange.svg" alt="" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="margin"></div>
    </div>
</div>